{% extends '::base.html.twig' %}
{% block body %}

<script>
$(document).ready(function()
{	
	$(".new-repo").click(function() 
	{
		$('[name=project_name]').val($("#your-repos-filter").val());
		$("#create").submit();
	});
});
</script>

<style type="text/css" media="screen">
.input-medium.search-query
{
	width: 85%;
	margin-right: 10px;	
}
button.btn
{
	width:100%;
	margin-top: 5px;
}
</style>

<div class="container">
		<br />
		{% block alert %}
		{% endblock %}

		<div class="container-fluid">
		{% block fluidcontainer %}
			<div class="row-fluid">
				{% if is_granted('ROLE_USER') %}		      
				    {% render "AceEditorBundle:Default:sidebar" %}        	
				<div class="span9">
				{% else %}
				<div class="span12">
				{% endif %}
				{% block mainspan %}
		
				{% endblock %}
			    </div><!--/span-->
	
		  </div><!--/row-->
		{% endblock %}
		  <hr>

		  <footer>
			{% include 'AceEditorBundle:Default:footer.html.twig' %}
		  </footer>
		</div><!--/.fluid-container-->	
</div>
{% endblock %}