{% extends 'AceEditorBundle:Default:container.html.twig' %}
{% block fluidcontainer %}
	  <div class="row-fluid">        	
	    <div class="span12">
        {% include 'AceEditorBundle:Default:hero.html.twig' %}
	    </div><!--/span-->
	
	  </div><!--/row-->
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function()
{
	$("#homepage").addClass("active");
});
</script>
{% endblock %}