{% extends '::base.html.twig' %}
{% block body %}
Hello {{ name }}!<br />
{% if files%}
Please select one of your projects from the list:<br />
<ul id="navigation">
    {% for file in files %}
        <li><a href="{{ path('AceEditorBundle_editor', { 'project_name': file.Name() }) }}">{{ file.getName() }}</a></li>
    {% endfor %}
</ul>
{% endif %}
<form method='post' action='{{ path('AceEditorBundle_create')}}'>
	<input type='text' name='project_name' value='new'/>
	<input type='submit' value='Add New' />
</form>
{% endblock %}