{% extends '::base.html.twig' %}
{% block body %}
Hello {{ name }}!<br />
Please select one of your projects from the list:<br />
<ul id="navigation">
    {% for file in files %}
        <li><a href="{{ path('AceEditorBundle_editor', { 'filename': file.getName() }) }}">{{ file.getName() }}</a></li>
    {% endfor %}
</ul>
<a href=''>Add New</a>
{% endblock %}