{% extends '::base.html.twig' %}
{% block title "Account Options" %}
{% block body %}
<h2>Account Options</h2>
Here you can customize the look and feel of your editor:<br />
{{ name }}, welcome to the Options page<br /><br />
{% endblock %}
