{% extends 'AceEditorBundle:Default:container.html.twig' %}
{% block fluidcontainer %}
	  <div class="row-fluid">        	
	    <div class="span12">
			    {% block fos_user_content %}{% endblock %}
	    </div><!--/span-->
	
	  </div><!--/row-->
{% endblock %}

